.row{
    display: flex;
    flex-direction: row;
    margin: 40px 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
  }

.button{
    margin-left: 40px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 16px; /* Space between cards */
  margin: 20px;
}
@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .cardContainer {
    grid-template-columns: 1fr; /* 1 card per row on very small screens */
  }
}